<div style="height:30px;clear:both">
<button style="height:100%" id="updaterecordlist">更新录音列表</button>
</div>
<div style="overflow:auto;height:95%;width:100%">
{% if recordlist %}
<table style="border:1px solid #AFA;float:left;width:100%">
{% for row in recordlist %}
<tr>
<td>{{row.no}}.&nbsp;</td>
<td>{{row.filename}}</td>
<td>{{row.filetime}}</td>
<td>{{row.filesize}}</td>
<td><a href="{{path}}{{row.filename}}">下载</a></td>
<td><a class="delete_recordfile" href="javascript:void(0);"><input type="hidden" value="{{path}}{{row.filename}}"/>删除</a></td>
</tr>
{% endfor %}
</table>
{% endif %}
</div>