<button id="back">返回</button>
{% if conversations %}
{% for row in conversations%}
<div>
<p><a href="javascript:void(0);" value="{{row.address}}">{{row.address}}{%if row.name%}({{row.name}}){%endif%}</a>     {{row.datestr}}</p>
<p>{{row.snippet}}</p>
<hr/>
</div>
{% endfor %}
{% endif %}


{% if smslist %}
{% for row in smslist%}
<div>
<p>{{row.address}}{%if row.name%}({{row.name}}){%endif%} {{row.date}}{%if row.isSend%}<font color="red">--发送</font>{%else%}<font color="green">--接收</font>{%endif%}</p>
<p>{{row.body}}</p>
<hr/>
</div>
{% endfor %}
{% endif %}