<div style="height:30px;clear:both">
<div style="float:left;width:8%;height:100%">
<button id="back" style="height:100%;width:50px">返回</button>
</div>
<div style="float:left;width:80%;height:100%;line-height:30px;text-align:center">
<center id="smsnumber">{{address}}</center>
</div>
</div>

<div style="overflow:auto;height:95%;width:100%">
{% if smslist %}
<table border="1" width="100%">
{% for row in smslist%}
<tr style="width:100%">
<td>
<p align=center style="width:100%">{{row.date}}</p>
{%if row.isSend%}
<p align="right" style="width:100%"><font color="#55F">{{row.body}}</font></p>
{%else%}
<p align="left" style="width:100%">{{row.body}}</p>
{%endif%}
</td>
</tr>
{% endfor %}
</table>
{% endif %}
</div>